header{
	margin: 20px 0px 0px 0px;
}

header > div{
	display: flex;
	justify-content: center;
}

.head-lft{
	font-family: 'open sans',sans-serif;
	font-weight: bold;
	font-size: 25px;
}

.head-lft span{
		color: #11b311;
}

.head-rt{
	font-family: 'open sans',sans-serif;
	font-size: 14px;
	margin-top: 10px;
}

.head-rt a{
	text-decoration: none;
	color: #717171;
}

.head-rt a:hover{
	text-decoration: underline;
	color: black;
}

